body {
  background-color: #e3fdfd;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-color: grey;
  border-width: 6px;
  width: 4%;
}

h1 {
  color: #66bfbf;
}

 h3{
   color: #66bfbf;
   font-size: 1.5em;
 }
